<table class="table table-striped table-bordered table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        <th scope="col">U_Id</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>

    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.id %></td>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend%>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= friend.user_id %></td>
<!--        <td><%#= link_to 'Show ', friend %></td>-->
        <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>

      </tr>
    <% end %>
    </tbody>
</table>
    <%= link_to 'New Friend', new_friend_path, class: "btn btn-secondary" %>






<%#= render 'devise/registration/new' %>
<!--  <h1>Hello Friends!</h1>-->
<!--  <p><h1>Our Friends list Apps Running</h1></p>-->